server:
  port: 8083

spring:
  application:
    name: collaboration-service
  datasource:
    url: jdbc:mysql://localhost:3306/pinterest_collaboration
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        waitDurationInOpenState: 60s
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 3
        slowCallDurationThreshold: 3s
        slowCallRateThreshold: 50
    instances:
      collaborationService:
        baseConfig: default
