spring:
  application:
    name: content-service
  datasource:
    url: jdbc:mysql://localhost:3306/pinterest_content
    username: pinterest
    password: pinterest
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: health,info
resilience4j:
  circuitbreaker:
    instances:
      contentCircuit:
        register-health-indicator: true
        sliding-window-size: 10
        sliding-window-type: count_based
        failure-rate-threshold: 50
        wait-duration-in-open-state: 60s
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        slow-call-duration-threshold: 3s
